apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: fzo-frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # image
        image: ghcr.io/do3-2023/fzo-kube/frontend:latest
        imagePullPolicy: Always

        # ports
        ports:
        - name: http
          containerPort: 80

        # config
        envFrom:
          - configMapRef:
              name: frontend

        # probes
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 5
          periodSeconds: 3
          failureThreshold: 5

        readinessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 5
          periodSeconds: 3
          failureThreshold: 2
        
        # resource limits
        resources:
          limits:
            cpu: "500m"
            memory: "128Mi"
